* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/pexels-andrea-piacquadio-3775593.jpg');
    text-align: left;
    text-align: initial;
    /* background-color: #333; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);

}

#fitness_forge_app {
    max-width: 400px;
    margin: 5px auto;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, button, select, #intensity {
    margin-bottom: 10px;
}

button {
    padding: 8px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
}

button:hover {
    background-color: #45a049;
}

p {
    font-style: italic;
    color: #888;
}
.workout-log.h2 {
    color: #eee4e3;
}

#userProfile, #achievements, #customizeWorkout {
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #f9f9f9;
    opacity: 0.5px;
}
.diet-weight {
    background-color: rgb(232, 241, 241);
    /* padding: 0; */
    /* margin-left: 10px; */
    height: fit-content;
    box-shadow: #888;
    border: 2px solid grey;
    display: flex;
    flex-direction: row;
    /* margin-right: 60%; */
    position: absolute;
    left: 30px;
    top: 100px;
    box-shadow: 2px 2px 60px;
    padding: 15px;
    width: 400px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;


}
.diet-weight:hover {
    border-color: hsl(5, 56%, 59%);
    transform: translateY(-10px);
    box-shadow: 0 0 10px #f0eceb ; 
    
}

.workout-log {
    position: absolute;
    top:350px;
    left: 50px;
    background-color: rgba(214, 214, 233, 0.4); 
    padding: 20px; /* Padding for the content inside the element */
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.6); 
}
.workout-log:hover {
    border: 2px solid rgb(106, 106, 205);
    box-shadow:  black ;
}

.workout-log > h2 {
    color: #eee4e3;
}
.logged-workout {
    background-color: #dbfb0c;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    position: absolute;
    top: 450px;
    left: 200px;
    color: black;
}
.achievements {
    background-color: #888;
    padding: 10px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.6);
}
#logWorkoutButton {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid black;
}

#logWorkoutButton:hover {
    background-color: #eee4e3;
    color: black;

}
.suggestion-paragraph {
    /* Your styling properties here */
    color: black;
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
    background-color: #a4d43d;
    position: absolute;
    top: 150px;
    left: 5px;
    opacity: 0.8;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.6);
    border: 2px dashed #e82c10;
    border-radius: 10px;
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

#Time {
    display: inline-block;
    /* position: absolute;
    top: 10px; */
    padding: 10px;
    border-radius: 50%;
    background-color: #f5e949;
    color: #0e0d0d;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 0 10px rgba(79, 173, 210, 0.5);
    letter-spacing: 0.5px;
    animation: pulse 1s infinite;
}
.nav-bar {
    background-color: #333; /* Background color for the navigation bar */
    color: #fff; /* Text color */
    padding: 10px; /* Padding around the content */
    font-family: 'Arial', sans-serif; /* Font family for the text */
    text-align: center; /* Center the text within the navigation bar */
    font-size: 18px; /* Font size */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow for depth */
}
.workout-log.h2 {
    color: white;
}

#likeWorkoutButton {
    background-color: red;
    border-radius: 50px;

}
#likeWorkoutButton:hover {
    border: 2px solid blue;
}